include nasp/nasptool_linux_64
include nasp/nasptool_linux_32
include nasp/illumina_adapters_all.fasta

include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE.rst
include README.rst

include docs/images

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat
